/server/.env
/server/tmp/

/server/embeddings_microservice/__pycache__/
/server/embeddings_microservice/venv/
/server/embeddings_microservice/.venv/

/client/.env

/run/tmp/

/node_modules/
/client/node_modules/
/dist/